<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu_JFpdOqqltkAp05W2aE9arLNsode7BI</string>
	<key>GCM_SENDER_ID</key>
	<string>936059417231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoDa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projetoda-1c317</string>
	<key>STORAGE_BUCKET</key>
	<string>projetoda-1c317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936059417231:ios:7d6b2a19c911ed9b36f6fa</string>
</dict>
</plist>